
body {
    background-image: url(spiral1.gif);
    background-size: cover;
    background-attachment: fixed;
    overscroll-behavior: none;
}

.title {   
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 90px;
    padding: 5px;
    color: red;
    text-shadow: 3px 3px 0px yellowgreen;
    border-bottom: 5px solid red;
    animation-name: blink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    margin-bottom: 10px;
}

@keyframes blink {
    0% {color: yellow;}
    50% {color: red;}
    100% {color: yellow;}
}


.info {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-size: 30px;
    padding: 30px 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #233923;
    background: linear-gradient(195deg, #85ff70, white, white, white);
    margin: auto;

    border-bottom: 1px solid lightgrey;
}



.form {
    margin: auto;
    width: 70%;
}

iframe {
    min-height: 1200px;
}